.game {
    height: 90%;
    width: 100%;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


#container {
    justify-content: center;
    display: grid;
    grid-gap: 0;

    grid-template-columns: repeat(var(--grid-cols), 3rem);
    grid-template-rows: repeat(var(--grid-rows), 3rem);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.grid-item {
    display: flex;
    padding: 0em;
    margin: 0;
    background-color: rgba(115, 115, 115, 0.829);
    border: 1px solid rgba(34, 34, 34, 0.65);
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3em;
}
