html {
    background-color: white;
    background-image: none !important;
}


.game {
    height: 90%;
    width: 100%;
    border: 10px, lime;
    border-radius: 200px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


#container {
    justify-content: center;
    display: grid;
    grid-gap: 0;

    grid-template-columns: repeat(var(--grid-cols), 3rem);
    grid-template-rows: repeat(var(--grid-rows), 3rem);


}


.grid-item {
    /* display: inline-block; */
    display: block;
    padding: 0em;
    margin: 0;
    background-color: rgba(221, 221, 221, 0.717);
    border: 1px solid #fff;
    text-align: center;

    height: 3rem;
    width: 3em;
}
